####################################### chapter4

# dependencies
reactshop/node_modules
reactshop/.pnp
reactshop/.pnp.js

# testing
reactshop/coverage

# production
reactshop/build

# misc
reactshop/.DS_Store
reactshop/.env.local
reactshop/.env.development.local
reactshop/.env.test.local
reactshop/.env.production.local

reactshop/npm-debug.log*
reactshop/yarn-debug.log*
reactshop/yarn-error.log*

####################################### chapter9

# dependencies
crud-api/node_modules
crud-api/.pnp
crud-api/.pnp.js

# testing
crud-api/coverage

# production
crud-api/build

# misc
crud-api/.DS_Store
crud-api/.env.local
crud-api/.env.development.local
crud-api/.env.test.local
crud-api/.env.production.local

crud-api/npm-debug.log*
crud-api/yarn-debug.log*
crud-api/yarn-error.log*