####################################### chapter3

# dependencies
my-components/node_modules
my-components/.pnp
my-components/.pnp.js

# testing
my-components/coverage

# production
my-components/build

# misc
my-components/.DS_Store
my-components/.env.local
my-components/.env.development.local
my-components/.env.test.local
my-components/.env.production.local

my-components/npm-debug.log*
my-components/yarn-debug.log*
my-components/yarn-error.log*

####################################### chapter4

# dependencies
reactshop/node_modules
reactshop/.pnp
reactshop/.pnp.js

# testing
reactshop/coverage

# production
reactshop/build

# misc
reactshop/.DS_Store
reactshop/.env.local
reactshop/.env.development.local
reactshop/.env.test.local
reactshop/.env.production.local

reactshop/npm-debug.log*
reactshop/yarn-debug.log*
reactshop/yarn-error.log*

####################################### chapter 3 2回目

# dependencies
my-components-2/node_modules
my-components-2/.pnp
my-components-2/.pnp.js

# testing
my-components-2/coverage

# production
my-components-2/build

# misc
my-components-2/.DS_Store
my-components-2/.env.local
my-components-2/.env.development.local
my-components-2/.env.test.local
my-components-2/.env.production.local

my-components-2/npm-debug.log*
my-components-2/yarn-debug.log*
my-components-2/yarn-error.log*

####################################### chapter4

# dependencies
reactshop2/node_modules
reactshop2/.pnp
reactshop2/.pnp.js

# testing
reactshop2/coverage

# production
reactshop2/build

# misc
reactshop2/.DS_Store
reactshop2/.env.local
reactshop2/.env.development.local
reactshop2/.env.test.local
reactshop2/.env.production.local

reactshop2/npm-debug.log*
reactshop2/yarn-debug.log*
reactshop2/yarn-error.log*

####################################### chapter9

# dependencies
crud-api/node_modules
crud-api/.pnp
crud-api/.pnp.js

# testing
crud-api/coverage

# production
crud-api/build

# misc
crud-api/.DS_Store
crud-api/.env.local
crud-api/.env.development.local
crud-api/.env.test.local
crud-api/.env.production.local

crud-api/npm-debug.log*
crud-api/yarn-debug.log*
crud-api/yarn-error.log*

####################################### chapter3

# dependencies
chapter3/node_modules
chapter3/.pnp
chapter3/.pnp.js

# testing
chapter3/coverage

# production
chapter3/build

# misc
chapter3/.DS_Store
chapter3/.env.local
chapter3/.env.development.local
chapter3/.env.test.local
chapter3/.env.production.local

chapter3/npm-debug.log*
chapter3/yarn-debug.log*
chapter3/yarn-error.log*

####################################### chapter 3 2回目

# dependencies
my-components3/node_modules
my-components3/.pnp
my-components3/.pnp.js

# testing
my-components3/coverage

# production
my-components3/build

# misc
my-components3/.DS_Store
my-components3/.env.local
my-components3/.env.development.local
my-components3/.env.test.local
my-components3/.env.production.local

my-components3/npm-debug.log*
my-components3/yarn-debug.log*
my-components3/yarn-error.log*

####################################### chapter4

# dependencies
reactshop3/node_modules
reactshop3/.pnp
reactshop3/.pnp.js

# testing
reactshop3/coverage

# production
reactshop3/build

# misc
reactshop3/.DS_Store
reactshop3/.env.local
reactshop3/.env.development.local
reactshop3/.env.test.local
reactshop3/.env.production.local

reactshop3/npm-debug.log*
reactshop3/yarn-debug.log*
reactshop3/yarn-error.log*